## Lesson 2 ##
<ul> <li> Lists </li>
 </ul>

<p> Lists are one of 4 collection datatypes available in python. </p>
<blockquote> List is a collection which is ordered and changeable. Allows duplicate members.</blockquote>

In [ ]:
list1 = ["Camel", "Llama", "Alpaca", "Camel"]

The values within the list are numbered. This means they have <b>indexes </b> and can be called by these <b> indexes.</b> The index of the first element is 0.

In [ ]:
print(list1[0])
print(list1[1])

Camel
Llama

It works in opposite direction you can find out the index od the element in the list by using **.index()** command. However, if there are multiple identical elements it will find only first of them.

In [ ]:
list1 = ["Camel", "Llama", "Alpaca", "Camel"]
index_camel = list1.index('Camel')
print(index_camel)

0

Adding the elements to the list.<ul> <li> .append() method </li> <li> .insert() method </li> <li> .extend() method </li>

In [ ]:
#Adding one element to the list using .append()
list1 = ["Camel", "Llama", "Alpaca", "Camel"]
elem1 = "Zebra"
list1.append(elem1)
print(list1)

['Camel', 'Llama', 'Alpaca', 'Camel', 'Zebra']

In [ ]:
# Adding the element at the specified position
list1 = ["Camel", "Llama", "Alpaca", "Camel"]
elem1 = "Zebra"
list1.insert(2, elem1)
print(list1)

['Camel', 'Llama', 'Zebra', 'Alpaca', 'Camel']

In [ ]:
# adding multiple elements to the list
list1 = ["Camel", "Llama", "Alpaca", "Camel"]
list1.extend(["Gaunako", "Okapi"])
print(list1)

['Camel', 'Llama', 'Alpaca', 'Camel', 'Gaunako', 'Okapi']

Concatenating the two lists

In [ ]:
lst1 = ["Camel", "Llama", "Alpaca"]
lst2 = ["Zebra", "Okapi"]
lst3 = lst1 + lst2
print(lst3)

['Camel', 'Llama', 'Alpaca', 'Zebra', 'Okapi']

You can store multiple data types in the lists.

In [ ]:
list2 = [1, "Camel", 1.2, ["this", "is", "another", "list"]]
print(list2)
print("I will print element of the list with index 3")
print(list2[3])

[1, 'Camel', 1.2, ['this', 'is', 'another', 'list']]
I will print element of the list with index 3
['this', 'is', 'another', 'list']

Removing element from the list using **remove** method.  But this method is going to remove **only one replicate** if element is duplicated.

In [ ]:
lst1 = ["Camel", "Llama", "Alpaca"]
lst1.remove("Alpaca")
print(lst1)

lst4 = ['Camel', 'Llama', 'Alpaca', 'Llama', 'Zebra', 'Okapi']
lst4.remove("Llama")
print(lst4)

['Camel', 'Llama']
['Camel', 'Alpaca', 'Llama', 'Zebra', 'Okapi']

Removing the element using the **pop method**. The **pop** method input is the index of the element. It shows which element has been removed and the list gets updated.

In [ ]:
test_list = ["Dormedary", "Bactrian", "Alpaca"]
removed_item  = test_list.pop(1)
print("The command below prints removed item")
print(removed_item)
print("The command below prints the updated list")
print(test_list)

The command below prints removed item
Bactrian
The command below prints the updated list
['Dormedary', 'Alpaca']

If you use **pop method** without any number provided in brakets it will just remove last item from the list. In this case it is "Alpaca"

In [ ]:
test_list = ["Dormedary", "Bactrian", "Alpaca"]
removed_item  = test_list.pop()
print("The command below prints removed item")
print(removed_item)
print("The command below prints the updated list")
print(test_list)

The command below prints removed item
Alpaca
The command below prints the updated list
['Dormedary', 'Bactrian']

**Sorting the list values** using **.sort()** method: <ol> <li> If the values are strings it sorts them alphabetically </li> <li> If the values are numbers it sorts them in ascending order </li> </ol>

<br> Works somewhat similar to **pop method**. When it called it updates the lits. </br>

In [ ]:
test_list = ["Dormedary", "Bactrian", "Alpaca", "Llama"]
test_list.sort()
print(test_list)

['Alpaca', 'Bactrian', 'Dormedary', 'Llama']

In [ ]:
list_numers = [0, 3, 2, 7, 5]
list_numers.sort()
print(list_numers)

[0, 2, 3, 5, 7]

<br> <b> Slicing the list. </b> </br> <p> The list slicing rules are similar to that for slicing the strings. </p> <p> When you are getting element from the list using index you are actually slicing the list, synthax is: </p>
```python
list[index]
```
To get multiple elements you can use the following syntax:
```python
list[start:end]
```
End is not included into the slice start is included.

In [ ]:
# slicing out one element
list_for_testing = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo"]
print(list_for_testing[3])

Zebra

In [ ]:
# slicing multiple elements
list_for_testing = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo"]
print(list_for_testing[0:2])

['Dormedary', 'Bactrian']

slicing using <b> start:stop:step </b> method. Syntax:
```python
list[start:stop:step]
```

In [ ]:
list_for_testing = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo"]
print(list_for_testing[0:4:2])

['Dormedary', 'Alpaca']

In [ ]:
list_for_testing = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo"]
print(list_for_testing[::2])

['Dormedary', 'Alpaca', 'Hippo']

Determining the length of the list using the <b> len() </b> method

In [ ]:
list_for_testing = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo"]
print(len(list_for_testing))

5

Counting certain elements in the list using **list.count() method**.

In [ ]:
list_for_testing = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo", "Alpaca"]
print(list_for_testing.count("Alpaca"))

2

<p> <b> Looping through the list.</b> </p> The looping through the list can be done using the <b> for </b> method. The synthax is the following:

```python
for item in list:
  do something
```

In [ ]:
list1 = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo", "Alpaca"]
for item in list1:
  print(item)

Dormedary
Bactrian
Alpaca
Zebra
Hippo
Alpaca

Intead of the word <b> <u> item </u> </b> in the <b> for statement </b> you can out anything. It is the same as asigning the variable name.

In [ ]:
list1 = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo", "Alpaca"]
for something in list1:
  print(something)

Dormedary
Bactrian
Alpaca
Zebra
Hippo
Alpaca

Or insted of simply printing the item you can do something else with it.

In [ ]:
list1 = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo", "Alpaca"]
for something in list1:
  print(len(something))

9
8
6
5
5
6

<br> <b> Another example </b> </br> Below are the "AHO" sequences obtained through the scraping of the NB thermo database. The AHO sequencres have gaps in them. We can use loop to remove the gaps.

In [ ]:
sequences = ["EVQLEES-GGGLVQPGGSLRLSCAASG-FNIKD-----TYIGWVRQAPGKGEEWVASIYPT----SGYTRYADSVKGRFTISADTSKNT--AYLQMNSLRAEDTAVYYCAAGSAQAGNA-------------EEAEEEFDYWGQGTLVTVSS",
"EVQLQES-GGGLVQAGGSLRLSCAASG-ELYAL-----ISMGWFRQAPGKEREFVAAISRN----GDNTYYTDSVKGRFTISRDNAKNT--VELQMNSLKPEDTAVYYCAADKFASPDGS-----------VTIMTNEYDYWGQGTQVTVSD",
             "EVQLEES-GGGLVQPGGSLRLSCAASG-FNIKD-----TYIGWVRQAPGKGEEWVASIYPT----SGYTRYADSVKGRFTISADTSKNT--AYLQMNSLRAEDTAVYYCAAGSQSGY-----------------HFEEFDYWGQGTLVTVSS"]

new_sequences = [] # generate the new list to which the values will bew added

for sequence in sequences: # for each of the sequences
  sequence_new = sequence.replace("-", "") # generate modified sequence
  new_sequences.append(sequence_new) # append to the new list
print(new_sequences) # print the result

['EVQLEESGGGLVQPGGSLRLSCAASGFNIKDTYIGWVRQAPGKGEEWVASIYPTSGYTRYADSVKGRFTISADTSKNTAYLQMNSLRAEDTAVYYCAAGSAQAGNAEEAEEEFDYWGQGTLVTVSS', 'EVQLQESGGGLVQAGGSLRLSCAASGELYALISMGWFRQAPGKEREFVAAISRNGDNTYYTDSVKGRFTISRDNAKNTVELQMNSLKPEDTAVYYCAADKFASPDGSVTIMTNEYDYWGQGTQVTVSD', 'EVQLEESGGGLVQPGGSLRLSCAASGFNIKDTYIGWVRQAPGKGEEWVASIYPTSGYTRYADSVKGRFTISADTSKNTAYLQMNSLRAEDTAVYYCAAGSQSGYHFEEFDYWGQGTLVTVSS']

<b> Exercise 1: </b> Given the list of protein sequences (these are all from NBThermo) print out the list of their extinction coefficients. <br> $ε_{molar} =  (n_{1}W * 5500) + (n_{2}Y * 1490) + (n_{3}C * 125)$ </br> where $n_{1}W, n_{2}Y $ and $ n_{3}C $, are number of instances the corresponding amino acids.

In [ ]:
sequences = ["QLQLVESGGGLVQAGGSLRLSCAASGRTFSSATMGWFRQAPGKEREFVAAISWSGLSRYYADSVKGRFTISRDNAENTVYLQMNSLKTEDTAVYYCAADSWGCSGLGCYDARQYDVWGQGTQVTVSS",
             "QVQLVESGGGLVQPGESLRLSCAASGSIFGIYAVHWFRMAPGKEREFTAGFGSHGSTNYAASVKGRFTMSRDNAKNTTYLQMNSLKPADTAVYYCHALIKNELGFLDYWGPGTQVTVSS",
             "GPHMAQVQLVESGGRLVQAGDSLRLSCAASGRTFSTSAMAWFRQAPGREREFVAAITWTVGNTILGDSVKGRFTISRDRAKNTVDLQMDNLEPEDTAVYYCSARSRGYVLSVLRSVDSYDYWGQGTQVTVS"]

Looping through the list so that you can loop through the <b> values of the elements </b> stored in the list and the <b> indexes of the elements. </b>

In [ ]:
list1 = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo", "Alpaca"]
for ele in enumerate(list1):
    print(ele)

(0, 'Dormedary')
(1, 'Bactrian')
(2, 'Alpaca')
(3, 'Zebra')
(4, 'Hippo')
(5, 'Alpaca')

In this case **ele** is a dataype called **tuple.** You can also print the number and the value stored within the tuple separately.

In [ ]:
list1 = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo", "Alpaca"]
for number, name in enumerate(list1):
    print(str(number) + " : " + name)

0 : Dormedary
1 : Bactrian
2 : Alpaca
3 : Zebra
4 : Hippo
5 : Alpaca

Looping through the multiple lists can be done using **zip** method.

In [ ]:
list1 = ["Framework_1", "Framework_2", "Framework_3", "Framework_4"]
list2 = ["QVQLVESGGRLVQAGDSLRLSC", "WFRQAPGREREFV", "ILGDSVKGRFTISRDRAKNTVDLQMDNLEPEDTAVYYC", "WGQGTQVTVSS"]
for i, z in zip(list1, list2):
  print(i + " : " + z)

Framework_1 : QVQLVESGGRLVQAGDSLRLSC
Framework_2 : WFRQAPGREREFV
Framework_3 : ILGDSVKGRFTISRDRAKNTVDLQMDNLEPEDTAVYYC
Framework_4 : WGQGTQVTVSS

There is alos an option to loop through the string.

In [ ]:
framework1 = "DVQLQASGGGLVQAGGSLRLSC"
for aa in framework1:
  print(aa)

D
V
Q
L
Q
A
S
G
G
G
L
V
Q
A
G
G
S
L
R
L
S
C

<br> <b> Nested lists. </b> </br>  What happens if you store the list inside the list and how to get the values out. Syntax:
```python
list = [[zero_zero, zero_first], [first_zero, first_first]]
elem = list[index of list element][index of the element within that list]
```

In [ ]:
list1 = [[1, 2, 3, 4, 5],["Camel", "Alpaca", "Zebra"]]
element = list1[1][0]
print(element)

Camel

<b> Exercise 2: </b> Write the code to print out the <b> "CDR2" </b> element of the nested list.

In [ ]:
nested_list = [["framework1", "framework2", "framework3", "framework4"], ["CDR1", "CDR2", "CDR3"]]

## list comprehension ##
<p> Is there the way to remove all values that do not meet certain condition? </p> <p> Is there faster way to loop through the list? </p> <p> The answer is <b> yes </b> you can do it using <b> list comprehension. </b> </p>

Consider the list below:
```python
list = [1, 2, 3, 4, 5, 6]
```
what we have to do to generate another list, in which each value of the list above is multiplied by 10. Conventional approach is presented below

In [ ]:
new_list = []
old_list = [1, 2, 3, 4, 5, 6]
for numb in old_list:
  new_numb = numb*10
  new_list.append(new_numb)
print(new_list)

[10, 20, 30, 40, 50, 60]

However, that is 6 lines of code.
<br> Below is the way how you can do it faster and with less code. Syntax:</br>
```python
new_list = [ expression(element) for element in old_list ]
```

In [ ]:
old_list = [1, 2, 3, 4, 5, 6]
new_list = [a*10 for a in old_list]
print(new_list)

[10, 20, 30, 40, 50, 60]

Above is the simplest version of the list comprehension. The more complicated version would involve the <b> condition </b> and the synthax would be:
```python
new_list = [ expression(element) for element in old_list if condition]
```

so condider the example in which we want to multiply numbers by 10, but only even numbers. We can use <b> modulus %</b> operator to check if numbers are even:
> You put <b> == </b> if you do not know if the number is equal or not, normally used within condition statements

In [ ]:
old_list = [1, 2, 3, 4, 5, 6]
new_list = [a*10 for a in old_list if a%2 == 0]
print(new_list)

[20, 40, 60]

Another example of list comprehesion : removing the certain values from the list. Previously we used .remove() method that allowed to remove one replicate at time. List comprehension allows to <b> remove multiple duplicates. </b>
> != means not equal

In [ ]:
list1 = ["Dormedary", "Bactrian", "Alpaca", "Zebra", "Hippo", "Alpaca"]
new_list = [animal for animal in list1 if animal != "Alpaca"]
print(new_list)

['Dormedary', 'Bactrian', 'Zebra', 'Hippo']